{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static '/css/loginpage.css' %}" />

        <title>Document</title>
    </head>
    <body>
        <img id="bg-main" src="{% static 'images/login.jpg' %}" alt="Cover Image" style="position: absolute; height: 100%; width: 100%;" />

        <section class="login">
            <div class="be-wrapper be-login">
                <div class="be-content">
                    <div class="main-content container-fluid">
                        <div class="splash-container">
                            <!-- @include('system._components.notifications') -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h1>Login</h1>
                                </div>
                                <div class="panel-body">
                                    {% if error %} {{ error }} {% endif %}
                                    <form action="{% url 'loginpage' %}" method="POST">
                                        {% csrf_token %}

                                        <!-- {!!csrf_field()!!} -->
                                        <div class="form-group">
                                            <input style="font-size: 16px;" id="username" name="username" type="text" placeholder="Username" autocomplete="off" class="form-control"required />
                                        </div>
                                        <div class="form-group">
                                            <input style="font-size: 16px;" id="password" name="password" type="password" placeholder="Password" class="form-control"required />
                                        </div>
                                        <div class="form-group login-submit mt-4">
                                            <button style="font-size: 16px;" data-dismiss="modal" type="submit" class="btn btn-primary btn-xl">Sign me in</button>
                                        </div>
                                        <div class="col-xs-12 text-center mt-3" style="font-size: 15px; margin-bottom: 20px;">Don't have an account? <a href="{% url 'register' %}">Sign up</a></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
