*{
    margin: 0%;
    padding: 0%;
    list-style: none;


}

body{
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.logo{
    font-weight: bold;
    font-size: 25px;

}
.leftnav-container{

    position: absolute;
border: 2px solid rgba(0, 0, 0, 0.9);
    width: 205px;
    left: 0px;
    top: 0px;
    height: 100%;

    background-color:#ffffff;
}
.container{
    position: absolute;
    padding-top: 118px;
    height: 100%;
}
.container ul li {
    display: block;
    font-weight: 400;
font-size: 14px;
    margin-bottom:20px ;
}
.container ul {
    margin-bottom: 476px;
}
.topnav{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 205px;
    top: 0px;

background: #171717;
}
.topnav h1{
    position: absolute;
    left: 55px;
    top: 87px;
    font-weight: 500;
    font-size: 64px;
    color: #FFFFFF;
}
.card-container .card{
    position: relative;
    width: 252px;
    height: 186px;
 
    background: #FFFFFF;
    border: 2px solid #000000;  
}
.card-container .card h1{
text-align: center;
margin: auto 0;
}
.card-container{
    position: absolute;
    gap: 25px;
    display: flex;
    width: 806px;
    height: 187px;
    left: 271px;
    top: 207px;
}
.card{
    position: relative;
    width: 812px;
    background: #FFFFFF;
    border: 2px solid #000000;
}